@media screen and (min-width: 768px){
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #9C9C9C;
}

.cartao{
    margin-left: 15%;
    margin-top: 5vh;
    background-color: white;
    width: 70%;
    display: flex;
    height: 13vh;
    border-radius: 20px;
    border: 1px solid black;
}

.quant{
    display: grid;
    text-align: center;
    align-items: center;
    width: 10vw; 
}

main{
    background-color: #9C9C9C;
    height: 71vh;
}

.todos{
    background-color: #9C9C9C;
    display: grid;
}

.carrinho{
    overflow-x: auto;
    width: 90%;
    height: 55%;
}

.cartao .corpo{
    margin-left: 3vw;
    width: 25vw;
}

main h1{
    margin-top: 2vh;
    margin-left: 5vw;
}

main .total .palavra{
    margin-top: 2vh;
    margin-left: 42%;
}

.cartao img{
    width: 6vw;
    height: 12vh;
    margin-left: 2vw;
}

.comprar{
    background-color: black;
    color: white;
    border: none;
    height: 5vh;
    width: 25vw;
    margin-left: 37%;
    margin-top: 2vh;
    border-radius: 4px;
}

.comprar:hover{
    background-color: black;
    opacity: 60%;
}

.valores{
    margin-left: 51vw;
}

.valore{
    margin-left: 8vw;
}

.carta{
    display: flex;
}

.retirar .excluir{
    margin-left: 5vw;
    background-color: black;
    color: white;
    border: none;
    height: 5vh;
    width: 6vw;
    margin-top: 3vh;
    border-radius: 4px;
    
}

.retirar .excluir:hover{
    opacity: 60%;
    
}
/*-------------------------------------------------------------*/

header{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #9C9C9C;
}

.menu1{
    height: 150px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;

}

#um{
   margin-left: 12vw;
}

.menu1 .buttons{
    margin-top: 65px;
    display: inline-block;
      padding: 10px 20px;
      background-color: #272727;
      color: white;
      text-decoration: none; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.menu1 button:hover{
    opacity: 70%;
    

}

.menu1 .buttons:hover{
    opacity: 70%;
    

}

.menu1 .pesquisa{
    margin-top: 54px;
    width: 35vw;

}

.menu1 .pesquisa i{
    font-size: xx-large;
    color: white;

}

.menu1 input{
    height: 6vh;
    width: 30vw;
    border-color:black ;
    border-radius: 10px;
}

.logo{   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-width: 35%;
    max-height: 85%;
    margin-left: 20%;
}

.logo .img_log{
    height: 100% !important;
    width: 90%;
}


.itens{
    margin-top: 65px;
    
}

.itens button{
    background-color: #272727;
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
}

.menu2{    
    background-color: #363636;
}

.menu2 a{
    margin-left: 4vw;
    color: aliceblue;
    text-decoration: none;
}

.menu2 a:hover{
    color: gray;
    
}

.ver{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
       
}

.todos footer{
    margin-top: 4vh;
}

footer .final{
    background-color: black;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}

footer .final p{
    color: white;
}

footer .final #tel{
    margin-left: 5vw
}

#botao1{
    display: none;
}
}

@media screen and (min-width: 320px) and (max-width: 767px){
    body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

.todos{
    background-color: #D9D9D9;
}

header{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

main{
   background-color: #D9D9D9; 
}

main h1{
    margin-top: 2vh;
    margin-left: 5vw;
}

.menu1{
    height: 80px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr ;

}

.logo{   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-width: 80%;
    max-height: 89%;
    margin-left: 10%;
}

.logo .img_log{
    height: 100% !important;
    width: 90% !important;
}

.menu1 .pesquisa{
    margin-top: 3vh;

}

.menu1 .pesquisa i{
    font-size: large;
    color: white;

}

.menu1 input{
    height: 6vh;
    width: 40vw;
    border-color:black ;
    border-radius: 10px;
}

.itens{
    margin-top: 3.8vh;
    
    
}

.itens button{
    margin-left: 2vw;
    background-color: #313131;
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
    
}

.menu1 .buttons{
      display: inline-block;
      padding: 10px 20px;
      background-color: #272727;
      color: white;
      text-decoration: none; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

#um{
    background-color: black;
    margin-left: 18vw;
}

#dois{
   background-color: black;
   margin-left: 33vw; 
}


#menuBaixo{
    display: none;
}

 .menu2{
        margin-top: 7vh;
        display: none;
        flex-direction: column;
        padding-bottom: 1rem ;
        background-color: black;
        transition: .3s
        
}

.menu2 a:hover{
    color: gray;
    
}
.cats{
    margin-top: 10vh;
}

.cats button{
    width: 100%;
    border: none;
    background-color: #272727;
    color: white;
    transition: 1s
}
    
.menu2 a{
        display: block;
        padding-top: 1.2rem;
        margin-left: 1rem;
        color: white;
        text-decoration: none;
        
}

.open{
        display: block;
}

.final{
    background-color: black;
    text-align: center;
}

.final p{
    color: white;
}

.cartao{
    margin-left: 15%;
    margin-top: 5vh;
    background-color: white;
    width: 80%;
    display: flex;
    height: 14vh;
    border-radius: 20px;
    border: 1px solid black;
}

.carrinho{
    overflow-x: auto;
    width: 90%;
    height: 55%;
}

.cartao .corpo{
    margin-left: 3vw;
    width: 25vw;
}

.cartao img{
    margin-top: 0.3vh;
    width: 20vw;
    height: 12vh;
    margin-left: 2vw;
}

.corpo h5{
    font-size: medium;
}

.comprar{
    background-color: black;
    color: white;
    border: none;
    height: 5vh;
    width: 35vw;
    margin-left: 34%;
    margin-top: 2vh;
    border-radius: 4px;
    margin-bottom: 4vh;
}

main .total .palavra{
    margin-top: 2vh;
    margin-left: 25%;
}

.retirar .excluir{
    margin-left: 2vw;
    background-color: black;
    color: white;
    border: none;
    height: 5vh;
    width: 15vw;
    margin-top: 3vh;
    border-radius: 4px;
    
}

.quantidade{
    margin-top: 4vh;
}

.valores{
    margin-left: 54vw;
}

}
