@media screen and (min-width: 800px) and (max-height: 600px){
    html{
   background-color: #272727;     
    }
    
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #272727;
}

header{
    width: 100vw;
    margin: 0;
    padding: 0;
}

main{
  background-color: #272727;  
}

.menu1{
    height: 150px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;

}

#um{
   margin-left: 12vw;
}

.menu1 .buttons{
    margin-top: 65px;
    display: inline-block;
      padding: 10px 20px;
      background-color: #272727;
      color: white;
      text-decoration: none; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.menu1 button:hover{
    opacity: 70%;
    

}

.menu1 .buttons:hover{
    opacity: 70%;
    

}

.menu1 .pesquisa{
    margin-top: 54px;
    width: 35vw;

}

.menu1 .pesquisa i{
    font-size: xx-large;
    color: white;

}

.menu1 input{
    height: 6vh;
    width: 30vw;
    border-color:black ;
    border-radius: 10px;
}

.logo{   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-width: 65%;
    max-height: 85%;
    margin-left: 20%;
}

.logo .log{
    height: 100% !important;
    width: 90% !important;
}

.itens{
    margin-top: 65px;
    
}

.itens button{
    background-color: #272727;
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
}

.menu2{    
    background-color: #363636;
}

.menu2 a{
    margin-left: 4vw;
    color: aliceblue;
    text-decoration: none;
}

.menu2 a:hover{
    color: gray;
    
}

.ver{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
       
}

footer{
    background-color: #272727;
}


.meio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    align-content: space-between;
    
    
}

.meio img{
    height: 45%;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.meio .card-body{
    background-color: #D9D9D9;
    
}

.meio .card{
    margin-top: 4vh;
    left: 2.5vh;
    width: 11rem !important;
    right: 2.5vh;
    margin-bottom: 2vh;
}

.fim{
    background-color: black;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    
}

.fim p{
    color: white;
}

.fim #tel{
    margin-left: 5vw
}

.card-body a{
    background-color: black;
    color: white;
    border: none;
    margin-left: 28%;
}

.card-body h5{
    color: black;
    font-size: medium;
}

.card-body a:hover{
    background-color: black;
    opacity: 60%;
}

.logo a{
    margin-left: 3.2vw;
    color: #EEDD82;
    text-decoration: none;
}

#botao1 button{
    display: none;
}
}

@media screen and (min-width: 900px){
    html{
   background-color: #272727;     
    }
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #272727;
}

header{
    width: 100vw;
    margin: 0;
    padding: 0;
}

main{
  background-color: #272727;  
}

.menu1{
    height: 150px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;

}

#um{
   margin-left: 12vw;
}

.menu1 .buttons{
    margin-top: 65px;
    display: inline-block;
      padding: 10px 20px;
      background-color: #272727;
      color: white;
      text-decoration: none; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

.menu1 button:hover{
    opacity: 70%;
    

}

.menu1 .buttons:hover{
    opacity: 70%;
    

}

.menu1 .pesquisa{
    margin-top: 54px;
    width: 35vw;

}

.menu1 .pesquisa i{
    font-size: xx-large;
    color: white;

}

.menu1 input{
    height: 6vh;
    width: 30vw;
    border-color:black ;
    border-radius: 10px;
}

.logo{   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-width: 35%;
    max-height: 85%;
    margin-left: 20%;
}

.logo .log{
    height: 100% !important;
    width: 90% !important;
}

.itens{
    margin-top: 65px;
    
}

.itens button{
    background-color: #272727;
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
}

.menu2{    
    background-color: #363636;
}

.menu2 a{
    margin-left: 4vw;
    color: aliceblue;
    text-decoration: none;
}

.menu2 a:hover{
    color: gray;
    
}

.ver{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
       
}

footer{
    background-color: #272727;
}


.meio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    align-content: space-between;
    
    
}

.meio img{
    height: 45%;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.meio .card-body{
    background-color: #D9D9D9;
}

.meio .card{
    margin-top: 4vh;
    left: 5vh;
    margin-bottom: 2vh;
}

.fim{
    background-color: black;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    
}

.fim p{
    color: white;
}

.fim #tel{
    margin-left: 5vw
}

.card-body a{
    background-color: black;
    color: white;
    border: none;
    margin-left: 28%;
}

.card-body a:hover{
    background-color: black;
    opacity: 60%;
}

.logo a{
    margin-left: 3.2vw;
    color: #EEDD82;
    text-decoration: none;
}

#botao1 button{
    display: none;
}
}

@media screen and (min-width: 320px) and (max-width: 767px){
    body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

header{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu1{
    height: 80px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr ;

}

.logo{   
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    max-width: 80%;
    max-height: 89%;
    margin-left: 10%;
}

.logo .log{
    height: 100% !important;
    width: 90% !important;
}

.menu1 .pesquisa{
    margin-top: 3vh;

}

.menu1 .pesquisa i{
    font-size: large;
    color: white;

}

.menu1 input{
    height: 6vh;
    width: 40vw;
    border-color:black ;
    border-radius: 10px;
}

.itens{
    margin-top: 3.8vh;
    
    
}

.itens button{
    margin-left: 2vw;
    background-color: #313131;
    color: white;
    cursor: pointer;
    border-color: transparent;
    border-radius: 10px;
    
}

.menu1 .buttons{
      display: inline-block;
      padding: 10px 20px;
      background-color: #272727;
      color: white;
      text-decoration: none; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
}

#um{
    background-color: black;
    margin-left: 18vw;
}

#dois{
   background-color: black;
   margin-left: 33vw; 
}

#menuBaixo{
    display: none;
}

 .menu2{
        margin-top: 7vh;
        display: none;
        flex-direction: column;
        padding-bottom: 1rem ;
        background-color: black;
        transition: .3s
        
}

.menu2 a:hover{
    color: gray;
    
}
.cats{
    margin-top: 10vh;
}

.cats button{
    width: 100%;
    border: none;
    background-color: #272727;
    color: white;
    transition: 1s
}
    
.menu2 a{
        display: block;
        padding-top: 1.2rem;
        margin-left: 1rem;
        color: white;
        text-decoration: none;
        
}

.open{
        display: block;
}

.meio{
    display: grid;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    align-content: space-between;
    background-color: #464646;
    
}

.card-body a{
    background-color: black;
    color: white;
    border: none;
    margin-left: 28%;
}

.card-body h5{
    color: black;
}

.card-body p{
    color: black;
    font-size: large;
    font-weight: 600;
}

.meio img{
    height: 45%;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.meio .card-body{
    background-color: #D9D9D9;
}


.meio .card{
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 3px;

}

.fim{
    background-color: black;
    text-align: center;
}

.fim p{
    color: white;
}
    
}
    



