h1{
    color: white;
}

.tudo{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
   background-color: #272727; 
}

.form-group label{
    color: white;
}

#categoria{
    width: 30vw; 
}

section{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2vw;
    
}


#mudarValor{
    width: 20vw;
}




