body{
    background-color: #272727;
    margin: 0;
    padding: 0;
}

header{
    background-color: #272727;
}

header h1{
    color: white;
    margin-left: 3vw;
}

main{
    background-color: #272727;
}

.tudo{
    display: flex;
    justify-content: space-around;
}

.compra{
    height: 60vh;
    width: 30vw;
}

.carrinho{
    height: 90%;
    overflow-x: auto;
    
}

.prod{
    margin-left: 4%;
    background-color: white;
    display: flex;
    height: 14.5vh;
    border-radius: 20px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.prod img{
    width: 6vw;
    height: 12vh;
    margin-left: 2vw;
}

.prod .corpo{
    margin-left: 3vw;
    width: 25vw;
}

.quant{
    display: grid;
    text-align: center;
    align-items: center;
    width: 10vw; 
}

.compra h2{
    color: white;
    margin-left: 12vw;
}

.forma_pagamento h2{
    color: white;
    margin-left: 4vw;
}

.endereco h2{
    color: white;
    margin-left: 8.5vw;
}

.endereco{
    width: 30vw;
    height: 60vh;
}

.dados_ender{
    margin-top: 2vh;
    text-align: center;
    width: 90%;
}

.dados_ender p{
    color: white;
    font-size: large;
}

.dados_ender input{
    border-radius: 10px;
    border-color: transparent;
}

.dados_ender .bot{
    margin-top: 4vh;
}

.dados_ender .salvar{
    background-color: black;
    color: white;
    border: none;
    height: 5vh;
    width: 15vw;
    border-radius: 4px;
    cursor: pointer;
}

.salvar:hover{
    opacity: 60%;
}

.forma_pagamento{
    width: 30vw;
    height: 60vh;
}

/*-------------------------------------------------------------*/

.radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*-------------------------------------------------------------*/

.content-div{
    display: none;
}

.opcao{
    margin-left: 5vw;
}

.org{
    display: flex;
}

#cartao{
    width: 15.9vw;
}

.val p{
    margin-left: 3vw;
}

#data_validade{
    margin-left: 3vw;
}

.cvcs input{
   width: 4vw;   
}

#nome{
    width: 15.9vw;
}

.opcao p{
    color: white;
}

.terminar{
    margin-right: 10%;
    margin-bottom: 5vh;
    background-color: black;
    color: white;
    border: none;
    height: 8vh;
    width: 20vw;
    border-radius: 4px;
    cursor: pointer;
}

.terminar:hover{
    opacity: 60%;
}

.fim{
    width: 100vw;
    background-color: black;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
    
}

.fim p{
    color: white;
}

.fim #tel{
    margin-left: 5vw
}

