body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.container{
    margin-top: 20px;
    text-align: center;
    border: 1px solid rgb(212, 212, 212);
    overflow: hidden;
    width: 400px;
    padding: 20px;
    box-shadow: 0 7px 10px 0 rgb(63, 63, 63);
    border-radius: 20px;
    background-color: lightgray;
    margin-bottom: 20px;
}

.teste input{
    height: 25px;
    width: 20vw;
    border-radius: 10px;
    border: 1px solid black;
}

.container button{
    color: white;
    cursor: pointer;
    background-color: black;
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    border: 2px solid black;

}

.container button:hover{
    opacity: 60%;
}
